<div class="center_content">
	<div class="left_content">
		<div class="crumb_nav">
			<%= link_to "Home", books_new_path%> &gt;&gt; category name
		</div>

		<div class="title">
			<span class="title_icon"> <img src="/assets/bullet2.gif" alt="" title="" /> </span><a href="">Ruby on Rails</a>
		</div>

		<div class="new_products">

			<div class="new_prod_box">
				<a href='<%= Book.find(22).file%>' target="_blank" >Ruby Language</a>

				<div class="new_prod_bg">

					<img src="/assets/ii.jpg" alt="" title="" class="thumb" border="0" />
					</a>
				</div>
			</div>

			<div class="new_prod_box">
				<a href='<%= Book.find(23).file%>' target="_blank" >Learn to Program</a>
				<div class="new_prod_bg">
					<span class="new_icon"> <img src="/assets/new_icon.gif" alt="" title="" /></span>

					<img src="/assets/h.jpg" alt="" title="" class="thumb" border="0" />
					</a>
				</div>
			</div>

			<div class="new_prod_box">
				<a href='<%= Book.find(19).file%>' target="_blank" >Ruby Tutorials</a>
				<div class="new_prod_bg">
					<span class="new_icon"> <img src="/assets/promo_icon.gif" alt="" title="" /></span>

					<img src="/assets/oh.jpg" alt="" title="" class="thumb" border="0" />
					</a>
				</div>
			</div>

			<div class="title">
				<span class="title_icon"><img src="/assets/bullet2.gif" alt="" title="" /> </span><abbr title="Cascading Style Sheet" class="initialism"><a href="">CSS</a></abbr>
			</div>

			<div class="new_products">
				<div class="new_prod_box">
					<a href='<%= Book.find(18).file%>' target="_blank" >Beginning CSS</a>
					<div class="new_prod_bg">

						<img src="/assets/gth.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>

				<div class="new_prod_box">
					<a href='<%= Book.find(5).file%>' target="_blank" >The Book of CSS 3</a>
					<div class="new_prod_bg">
						<span class="new_icon"> <img src="/assets/promo_icon.gif" alt="" title="" /></span>

						<img src="/assets/sc.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>

				<div class="new_prod_box">
					<a href='<%= Book.find(24).file%>' target="_blank" >Complete CSS</a>
					<div class="new_prod_bg">

						<img src="/assets/d.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>
			</div>

			<div class="title">
				<span class="title_icon"><img src="/assets/bullet2.gif" alt="" title="" /> </span>
				<a href="">JavaScript</a>
			</div>

			<div class="new_products">

				<div class="new_prod_box">
					<a href='<%= Book.find(7).file%>' target="_blank" >JS for web Developers</a>
					<div class="new_prod_bg">
						<span class="new_icon"> <img src="/assets/new_icon.gif" alt="" title="" /></span>

						<img src="/assets/jaa.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>

				<div class="new_prod_box">
					<a href='<%= Book.find(24).file%>' target="_blank" >The Complete reference</a>
					<div class="new_prod_bg">

						<img src="/assets/d.jpg" alt="" title="" class="tkrhumb" border="0" />
						</a>
					</div>
				</div>

				<div class="new_prod_box">
					<a href='<%= Book.find(7).file%>' target="_blank" >JS for web Apps</a>
					<div class="new_prod_bg">

						<img src="/assets/pr.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>

			</div>

			<div class="title">
				<span class="title_icon"><img src="/assets/bullet2.gif" alt="" title="" /> </span><abbr title="HyperText Markup Language" class="initialism"><a href="">HTML</a></abbr>
			</div>

			<div class="new_products">

				<div class="new_prod_box">
					<a href='<%= Book.find(25).file%>' target="_blank" >Head first HTML</a>
					<div class="new_prod_bg">
						<span class="new_icon"> <img src="/assets/new_icon.gif" alt="" title="" /></span>

						<img src="/assets/hhk.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>
				<div class="new_prod_box">
					<a href='<%= Book.find(26).file%>' target="_blank" >HTML 5 Dummles</a>
					<div class="new_prod_bg">

						<img src="/assets/lll.png" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>

				<div class="new_prod_box">
					<a href='<%= Book.find(21).file%>' target="_blank" >The Complete Reference</a>
					<div class="new_prod_bg">

						<img src="/assets/uk.jpg" alt="" title="" class="thumb" border="0" />
						</a>
					</div>
				</div>

			</div>
		</div>

		<div class="clear"></div>
	</div>
</div>