<div class="center_content">

	<div class="left_content">

		<div class="title">
			<span class="title_icon"> <img src="/assets/bullet1.gif" alt="" title="" /> </span>
			<%= link_to "Most Downloaded", books_category_path%>

		</div>

		<div class="feat_prod_box">

			<div class="prod_img">
				<p>
					<img src="/assets/rrr.jpg" alt="" title="click to more details" border="0" />
				</p>
			</div>

			<div class="prod_det_box">
				<div class="box_top"></div>
				<div class="box_center">
					<div class="prod_title">
						<a href='<%= Book.find(4).file%>' target="_blank" >The Book of Ruby</a>
					</div>
					<p class="details">
						In this book, it is my aim to guide you safely
						over the pitfalls and lead you
						through the choppy waters of Ruby’s syntax and class libraries.
						In the process, I’ll be exploring both the smooth, well-paved highways
						and the gnarlier,bumpy little byways of Ruby.
					</p>

					<div class="clear"></div>
				</div>

				<div class="box_bottom"></div>
			</div>
			<div class="clear"></div>
		</div>

		<div class="feat_prod_box">

			<div class="prod_img">
				<p>
					<img src="/assets/cs.jpg" alt="" title="click to more details" border="0" />
				</p>
			</div>

			<div class="prod_det_box">
				<div class="box_top"></div>
				<div class="box_center">
					<div class="prod_title">
						<a href='<%= Book.find(5).file%>' target="_blank" >The Book of CSS 3</a>
					</div>
					<p class="details">
						The Book of CSS3 helps you leverage the
						excellent knowledge you have of
						CSS2.1 in order to make learning CSS3 easier.

					</p>

					<div class="clear"></div>
				</div>
				<div class="box_bottom"></div>
			</div>
			<div class="clear"></div>
		</div>

		<div class="title">
			<span class="title_icon"> <img src="/assets/bullet2.gif" alt="" title="" /> </span><%= link_to "Most Recent", books_boks_path %>
		</div>

		<div class="new_products">

			<div class="new_prod_box">
				<a href='<%= Book.find(6).file%>' target="_blank" >Web development</a>

				<div class="new_prod_bg">
					<span class="new_icon"> <img src="/assets/new_icon.gif" alt="" title="" /></span>
					<img src="/assets/al.jpg" alt="" title="" class="thumb" border="0" />
				</div>
			</div>

			<div class="new_prod_box">
				<a href='<%= Book.find(18).file%>' target="_blank" >Beginning CSS</a>
				<div class="new_prod_bg">
					<span class="new_icon"> <img src="/assets/new_icon.gif" alt="" title="" /></span>
					<img src="/assets/gth.jpg" alt="" title="" class="thumb" border="0" /> </a>
				</div>
			</div>

			<div class="new_prod_box">
				<a href='<%= Book.find(7).file%>' target="_blank" >JS for web Developers</a>
				<div class="new_prod_bg">
					<span class="new_icon"> <img src="/assets/new_icon.gif" alt="" title="" /></span>
					<img src="/assets/jaa.jpg" alt="" title="" class="thumb" border="0" /> </a>
				</div>
			</div>

			<div class="new_prod_box">
				<a href='<%= Book.find(19).file%>' target="_blank" >Ruby on Rails 3</a>
				<div class="new_prod_bg">
					<span class="new_icon"> <img src="/assets/new_icon.gif" alt="" title="" /></span>
					<img src="/assets/oh.jpg" alt="" title="" class="thumb" border="0" /> </a>
				</div>
			</div>

			<div class="new_prod_box">
				<a href='<%= Book.find(20).file%>' target="_blank" >JS for web Apps</a>
				<div class="new_prod_bg">
					<span class="new_icon"> <img src="/assets/new_icon.gif" alt="" title="" /></span>
					<img src="/assets/pr.jpg" alt="" title="" class="thumb" border="0" /> </a>
				</div>
			</div>

			<div class="new_prod_box">
				<a href='<%= Book.find(21).file%>' target="_blank" >The Complete reference</a>
				<div class="new_prod_bg">
					<span class="new_icon"> <img src="/assets/new_icon.gif" alt="" title="" /></span>
					<img src="/assets/uk.jpg" alt="" title="" class="thumb" border="0" /> </a>
				</div>

			</div>

		</div>

		<div class="clear"></div>
	</div>

</div>