<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
		<title>KreatioBook</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div id="wrap">

			<div class="header">
				<div class="logo">

					<img src="/assets/logo.gif" alt="" title="" border="0" />
				</div>
				<div id="menu">
					<ul>
						<li>
							<%= link_to "Home", books_new_path%>
						</li>
						<li>
							<%= link_to "About us", books_about_path%>
						</li>
						<li>
							<%= link_to "Books", books_boks_path%>
						</li>
						<li>
							<%= link_to "Category", books_category_path%>
						</li>
						<li>
							<%= link_to "My Account", books_my_account_path%>
						</li>
						<li>
							<%= link_to "Contact", books_contact_path%>
						</li>
					</ul>
				</div>
			</div>

			<div class="center_content">
				<div class="left_content">
					<%= yield %>
				</div><!--end of left content-->

				<div class="right_content">

					<%= form_tag books_find_path, :method => :get do %>
					<p>
						<%= text_field_tag :search, params[:search] %>
						<%= submit_tag "Search", :name => nil %>
					</p>
					<% end %>

					<p style="color: green">
						<%= flash[:notice] %>
					</p>

					<div class="cart">
						<div class="title">
							<span class="title_icon"> <a href="http://www.facebook.com" target="_blank"><img src="/assets/fb.png" alt="" title="" /></a> <a href="http://www.twitter.com" target="_blank"><img src="/assets/tw.png" alt="" title="" border="0" /></a> <a href="http://www.kreatio.com" target="_blank"><img src="/assets/rs.png" alt="" title="" border="0" /></a> <a href="http://www.gmail.com" target="_blank"><img src="/assets/ma.png" alt="" title="" /></a> <a href="http://www.kreatio.com/static/contact" target="_blank"><img src="/assets/ph.png" alt="" title="" border="0" /></a> </span>
						</div>
					</div>

					<div class="title">
						<span class="title_icon"> <img src="/assets/bullet3.gif" alt="" title="" /></span>About Our Store
					</div>
					<div class="about">
						<p>
							<img src="/assets/about.gif" alt="" title="" class="right" />
							<p>
								BookStore.net is a super quick and simple search engine for books that helps
								you find the price and availability of books across various online bookstores.
								It also provides user store reviews, which further help users to choose
								the best deal on the right store.
							</p>

					</div>

					<div class="right_box">

						<div class="title">
							<span class="title_icon"><img src="/assets/bullet4.gif" alt="" title="" /> </span>Related Books
						</div>
						<div class="new_prod_box">
							

							<div class="new_prod_bg">
								<span class="new_icon"> </span>

								<img src="/assets/xm.jpg" alt="" title="" class="thumb" border="0" />
								</a>
							</div>
						</div>

						<div class="new_prod_box">
							

							<div class="new_prod_bg">
								<span class="new_icon"> </span>

								<img src="/assets/aj.jpg" alt="" title="" class="thumb" border="0" />
								</a>
							</div>
						</div>

						<div class="new_prod_box">
							

							<div class="new_prod_bg">
								<span class="new_icon"> </span>

								<img src="/assets/gi.jpg" alt="" title="" class="thumb" border="0" />
								</a>
							</div>
						</div>

					</div>

					<div class="right_box">

						<div class="title">
							<span class="title_icon"><img src="/assets/bullet5.gif" alt="" title="" /> </span>Categories
						</div>

						<ul class="list">
							<li>
								<%= link_to "Ruby", books_category_path%>
							</li>
							<li>
								<%= link_to "Rails", books_category_path%>
							</li>
							<li>
								<%= link_to "CSS", books_category_path%>
							</li>
							<li>
								<%= link_to "JavaScript", books_category_path%>
							</li>
							<li>
								<%= link_to "XML", books_category_path%>
							</li>
							<li>
								<%= link_to "AJAX", books_category_path%>
							</li>
							<li>
								<%= link_to "HTML", books_category_path%>
							</li>
							<li>
								<%= link_to "Database", books_category_path%>
							</li>
							<li>
								<%= link_to "Ubuntu", books_category_path%>
							</li>

						</ul>

						<div class="title">
							<span class="title_icon"></span>
						</div>

					</div>

				</div>

				<div class="clear"></div>
			</div><!--end of center content-->

			<div class="footer">
				<div class="left_footer">
					<a href="http://www.kreatio.com" target="_blank"> <img src="/assets/kr.jpg" alt="" title="" border="0" /> </a>
					<img src="/assets/footer_logo.gif" alt="" title="" />
				</div>
				<div class="right_footer">

					<%= link_to "home", books_new_path%>
					<%= link_to "about us", books_about_path%>
					<%= link_to "services", books_boks_path%>
					<%= link_to "privacy policy", books_my_account_path%>
					<%= link_to "Contact", books_contact_path%>

				</div>

			</div>

		</div>

	</body>
</html>